
{% extends "layout.html" %}
 
{% block y %}
 
   <h1> CREATE TABLE </h1>
 
   <form action="/create" method="POST">
      <input placeholder="Big Blind Amount" autocomplete="off" type="text" name="big">
      <input placeholder="Small Blind Amount" autocomplete="off" type="text" name="small">
      <input placeholder="Buy in" autocomplete="off" type="text" name="buy">
      <input placeholder="Player 1 Name" autocomplete="off" type="text" name="player1">
      <input placeholder="Player 2 Name" autocomplete="off" type="text" name="player2">
      <input placeholder="Player 3 Name" autocomplete="off" type="text" name="player3">
      <input type="submit" name="Create">
   </form>
 
{% endblock %}