<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <meta name="theme-color" content="#fafafa">
</head>

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <li class="nav-item" style="margin-left: 1200px">
            <a class="nav-link" href="/login" style="color:#00FF00; font-size: 20px; margin-left: 375px; margin-bottom: 15px">Login</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/table" style="color:#00FF00; font-size: 20px; margin-bottom: 15px">Table</a>
          </li>
        <body >
            <div class="container">
                <li class="nav-item" style="margin-bottom: 5px">
                    <button data-id='45' class="userinfo btn btn-dark"><img height="50px" src="../static/yuhfar.png" width="50px" alt="buttonpng"/></button>
                </li>
            </div>    
                        <script type='text/javascript'>
                        $(document).ready(function(){
                            $('.userinfo').click(function(){
                                var userid = $(this).data('id');
                                console.log(userid)
                                $.ajax({
                                    url: '/ajaxfile',
                                    type: 'post',
                                    data: {userid: userid},
                                    success: function(data){ 
                                        $('.modal-body').html(data); 
                                        $('.modal-body').append(data.htmlresponse);
                                        $('#empModal').modal('show'); 
                                    }
                                });
                            });
                        });
                        </script>
                    </div>
                    <div class="modal fade" id="empModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">{{theUser.userName}}'s Profile</h4>
                                </div>
                                <div class="modal-body">
                                </div>
                            </div>
                        </div>
                </div>
            </body>
    </div>
  </nav>