<html>
    <form>
        <label for="fname">UserName:</label><br>
        <input type="text" id="username" value=""><br>
        <label for="lname">Password:</label><br>
        <input type="text" id="password" value="">
      </form>
    
    
    <button class="login">Login</button>
    <button class="register">Register</button>
    <div id="error"></div>
</html>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.login').on('click', function(event) {
            var user = (document.getElementById("username").value)
            var pass = (document.getElementById("password").value)
            $.ajax({
                data : {
                    username : user,
                    password : pass
                },
                type : 'POST',
                url : '/login'
            })
            .done(function(data) {
                if (data.error) {
                    $('#errorAlert').text(data.error).show();
                    console.log("ERROR")
                    document.getElementsByClassName("error")[0].innerHTML = data.error
                    $('#successAlert').hide();
                }
                else {
                    $('#successAlert').text(data.name).show();
                    document.getElementById("error").innerHTML = data
                    $('#errorAlert').hide();
                }
            });
            event.preventDefault();
        });
    });
</script>