<table border='0' width='100%'>
    <tr>
        <p>ID : {{theUser.userID}}</p>
        <p>Name : {{theUser.userName}}</p>
        <p>Wins : {{theUser.winCount}}</p>
        <p>Straights : {{theUser.straightCount}}</p>
        <p>Flushes : {{theUser.flushCount}}</p>
        <p>Full Houses : {{theUser.fullHouseCount}}</p>
        <p>Four of a Kinds : {{theUser.quadCount}}</p>
        <p>Straight Flushes : {{theUser.straightFlushCount}}</p>
        <p>Royal Flushes : {{theUser.royalFlushCount}}</p>
        </td>
    </tr>
</table>
