<style type="text/css">
    #explosion {
        animation: exploded 2s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
    }
    @keyframes exploded {
        from {opacity:1.0;}
        to {opacity:0.0;}
    }
</style>

<!DOCTYPE html>
<html lang="en">
    <body style="background-color:black;">
        <img src="../static/white.png" class="explosion" height="10000px" style="right:-20%;bottom:-20%;position:absolute;z-index:3000;opacity:0.0;">
        <div>
            <button class="bombPot" style="position:absolute;right:25%;top:50%;">Click Me</button>
        </div>
    </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.bombPot').on('click', function(event) {
            document.getElementsByClassName("explosion")[0].id = "explosion";
            setTimeout(resetBomb, 4000);
        });
    });
    function resetBomb() {
        document.getElementsByClassName("explosion")[0].id = "noexplosion";
    }
</script>