<div id="countdown">
    <div id="countdown-number"></div>
    <svg>
      <circle r="18" cx="20" cy="20"></circle>
    </svg>
</div>


<style>
    body {
        height: 100%;
        width: 100%;
        background-color: #333;
      }
      
      #countdown {
        position: relative;
        margin: auto;
        margin-top: 100px;
        height: 50px;
        width: 50px;
        text-align: center;
        font-family: "Tahoma", sans-serif;
      }
      
      #countdown-number {
        color: white;
        display: inline-block;
        line-height: 60px;
      }
      
      svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        transform: rotateY(-180deg) rotateZ(-90deg);
      }
      
      svg circle {
        stroke-dasharray: 113px;
        stroke-dashoffset: 0px;
        stroke-linecap: round;
        stroke-width: 5px;
        stroke: white;
        fill: none;
        animation: countdown 30s linear infinite forwards;
      }
      
      @keyframes countdown {
        0% {
          stroke-dashoffset: 0px;
          stroke:green;
        }
        50% {
          stroke-dashoffset: 52px;
          stroke:yellow;
        }
        100% {
          stroke-dashoffset: 113px;
          stroke:red;
        }
      }

</style>


<script>
    var countdownNumberEl = document.getElementById('countdown-number');
    var countdown = 30;

    countdownNumberEl.textContent = countdown;

    setInterval(function() {
    countdown = --countdown <= 0 ? 30 : countdown;

    countdownNumberEl.textContent = countdown;
    }, 1000);
</script>